[submodule "include/nuklear"]
	path = include/nuklear
	url = https://github.com/Immediate-Mode-UI/Nuklear.git
[submodule "include/cimgui"]
	path = include/cimgui
	url = https://github.com/cimgui/cimgui.git
